<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Submission02</title>
    <link rel="stylesheet" href="/assets/stylesheets/application.css">
  </head>

  <header></header>

  <body>


    <h1 class="welcome01">ようこそBookersへ！</h1>
<p class="welcome02"><b>Bookers</b> では、さまざまな書籍に関するあなたの意見や</p>
<p class="welcome02">印象を共有し交換することができます</p>
<p class="welcome02"><a href="/books">start</a></p>



    <footer></footer>

</body>
</html>